.vscode/launch.json
Data Structure/Stack/acmicpc.net/10828/Main.out
Data Structure/Stack/acmicpc.net/10828/Main.out.dSYM/Contents/Resources/DWARF/Main.out
Data Structure/Stack/acmicpc.net/10828/Main.out.dSYM/Contents/Info.plist
--debug
